<header class="header">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo" />
    </div>
    <nav class="navbar">
        <a routerLink="/">Trang chủ</a>
        <a routerLink="/blood-type">Bloodtype</a>
        <a routerLink="/blog">Blog</a>
        <a routerLink="/register-donate">Đăng kí hiến máu</a>
    </nav>
    <div class="auth-buttons" *ngIf="!authService.isAuthenticated()">
        <button class="login" routerLink="/login">Đăng nhập</button>
        <button class="register" routerLink="/register">Đăng kí</button>
    </div>
    <div class="auth-buttons" *ngIf="authService.isAuthenticated()">
        <button class="logout" (click)="authService.logout()">Đăng xuất</button>
        <!-- hoặc hiển thị tên user, avatar, menu cá nhân... -->
    </div>
</header>